/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blackMirror {
  0% {
    transition: none;
  }

  1% {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(200px, 0, 0);
    background: rgba(0, 0, 0, 1);
  }

  99% {
    transform: translate3d(-200px, 0, 0);
    background: rgba(0, 0, 0, 1);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.blackMirror {
  animation-timing-function: ease-out;
  transform-origin: bottom center;
  animation-name: blackMirror;
  animation-duration: 0.01s;
  animation-iteration-count: 500;
}

@keyframes rotateComplex {
  1% {
    opacity: 90%;
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  10% {
    transform: translate3d(200px, -140px, 0) rotate(1080deg);
  }
  20% {
    transform: translate3d(-200px, 140px, 0) rotate(-160deg);
  }
  30% {
    transform: translate3d(-200px, -140px, 0) rotate(340deg);
  }
  40% {
    transform: translate3d(-200px, 140px, 0) rotate(-720deg);
  }
  50% {
    transform: translate3d(200px, 140px, 0) rotate(120deg) scale(1.2);
  }
  60% {
    transform: translate3d(0px, 0px, 100px) rotate(1080deg) scale(1.5);
  }
  65% {
    transform: translate3d(0px, 0px, 200px) rotate(-1080deg) scale(2);
  }
  90% {
    transform: translate3d(0px, 0px, 600px) rotate(6080deg) scale(5);
  }
  100% {
    transform: translate3d(0px, 0px, 0px) rotate(0deg) scale(1);
  }
}

.rotateComplex {
  animation-timing-function: linear;
  transform-origin: bottom center;
  animation-name: rotateComplex;
  animation-duration: 3s;
}

body {
  cursor: url('/rune_full_helm.cur'), pointer;
}
